<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.multi1.StudentMapper">

    <resultMap id="studentMap" type="com.demo.pojo.multi1.Student">
        <result property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentGender" column="student_gender"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="findList" resultMap="studentMap">
        select student_id, student_name, student_gender, create_time, update_time from student
    </select>
</mapper>